---
import Layout from "../layouts/Layout.astro";
import GameCard from "../components/GameCard.astro";
import GamesGrid from '../components/GamesGrid.jsx';

const APIKEY = import.meta.env.API_KEY;

const fetchGames = async () => {
	const response = await fetch(`https://api.rawg.io/api/games?key=${APIKEY}&dates=2020-01-01,2025-08-21&platforms=4&ordering=-metacritic`);
	const data = await response.json();
	return data;
}

let games = await fetchGames();
---
<Layout title="Visagames">
	<header class="bg-gray-800 text-white p-4">
		<h1 class="text-3xl font-bold">Visagames</h1>
	</header>
	<main class="p-4">
		<GamesGrid apikey={APIKEY} client:load />
		<!--<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{games.results.map((game: any) => (
				<GameCard game={game} />
			))}
		</ul>-->
	</main>
	<footer>
		<p>Visagames</p>
	</footer>
</Layout>
