---
import Layout from '../layouts/Layout.astro'
import App from '../components/App.jsx'
---
<Layout title="VisaGames">
    <p>RAWG API KEY: e0099886817f44dfab96cfefcdfddc61</p>
    <App client:load />
</Layout>
